@if(notification){
    <div [style]="{color : (notification.type == 'error') ? 'rgb(128,0,0)' : 'rgb(0,128,0)', backgroundColor : (notification.type == 'error') ? 'rgb(255,128,128)' : 'rgb(128,255,128)' }">
        <p>{{notification.msg}}</p>
    </div>
}

@if(users().length < 1){
    <p>Pas d'utilisateurs...</p>
}
@else {
    <table>
        <thead>
            <tr>
                    <th>Identifiant</th>
                    <th>Adresse e-mail</th>
                    <th>Actions</th>
                </tr>
        </thead>
        <tbody>
            @for(user of users(); track $index){
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button (click)="goToDetails(user.id)">Plus d'infos...</button>
                        <button>Editer</button>
                        <button>Supprimer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}